.head_list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.head_list_item {
  height: 50px;
  line-height: 50px;
}

.head_list_item_img {
  margin-top: 2px;
}

.head_list_item:first-child {
  margin-right: 145px;
}

.head_list_item:last-child {
  position: absolute;
  right: 0;
}

.head_list_item:last-child > ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.head_list_item:last-child > ul > li {
  margin-right: 50px;
}

.head_list_item:last-child > ul > li:last-child {
  margin-right: 0;
}

.head_list_item:last-child > ul > li > ul.sub_menu {
  visibility: hidden;
  opacity: 0;
  position: absolute;
  width: 200px;
  top: 50px;
  -webkit-box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.6);
          box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.6);
  background-color: #fff;
}

.head_list_item:last-child > ul > li > ul.sub_menu > li {
  border-bottom: 1px solid #ededed;
}

.head_list_item:last-child > ul > li > ul.sub_menu > li > a {
  display: block;
  margin-left: 10px;
  height: 30px;
  line-height: 30px;
}

.head_list_item:last-child > ul > li > ul.sub_menu > li:last-child {
  border-bottom: 0;
}

.head_list_item:last-child > ul > li:hover {
  border-bottom: 2px solid #004b8d;
}

.head_list_item:last-child > ul > li:hover > ul.sub_menu {
  visibility: visible;
  opacity: 1;
}

.cc-ti {
  background-color: #286ba9;
  padding: 50px 0;
  text-align: center;
}

.cc-ti .wrap > h2 {
  color: #fff;
  text-transform: uppercase;
  font-size: 20px;
  font-weight: bold;
}

.cc-ti_list {
  margin-top: 2%;
  width: 100%;
}

.cc-ti_list_item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #fff;
  width: 32%;
  float: left;
  border-radius: 10px;
  margin-right: 2%;
  margin-bottom: 2%;
  padding: 20px 10px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.6);
          box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.6);
}

.cc-ti_list_item:nth-child(3n) {
  margin-right: 0;
}

.cc-ti_list_item_img {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  overflow: hidden;
  border: 3px solid #e4213d;
  margin-right: 10px;
}

.cc-ti_list_item_img img {
  height: 100%;
  width: 100%;
}

.cc-ti_list_item_title h3 {
  text-transform: uppercase;
  font-weight: normal;
}

.tud {
  background-color: #fff;
  padding-top: 50px;
  text-align: center;
}

.tud .wrap > h2 {
  color: #145188;
  text-transform: uppercase;
  font-size: 20px;
  font-weight: bold;
}

.tud_list {
  margin-top: 2%;
  width: 100%;
}

.tud_list_item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: #fff;
  width: 32%;
  float: left;
  margin-right: 2%;
}

.tud_list_item:nth-child(3n) {
  margin-right: 0;
}

.tud_list_item_img {
  width: 100%;
  max-height: 100%;
  overflow: hidden;
}

.tud_list_item_img img {
  height: 100%;
  width: 100%;
}

.tud_list_item_title {
  margin-top: 10px;
}

.tud_list_item_title h3 {
  font-weight: normal;
}

.product {
  background-color: #fff;
  padding: 50px 0;
  text-align: center;
}

.product .wrap > h2 {
  color: #145188;
  text-transform: uppercase;
  font-size: 20px;
  font-weight: bold;
}

.product_list {
  margin-top: 2%;
  width: 100%;
}

.product_list_item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: #fff;
  width: 32%;
  float: left;
  margin-right: 2%;
  position: relative;
}

.product_list_item:nth-child(3n) {
  margin-right: 0;
}

.product_list_item_img {
  width: 100%;
  max-height: 100%;
  overflow: hidden;
}

.product_list_item_img img {
  height: 100%;
  width: 100%;
}

.product_list_item_title {
  position: absolute;
  text-align: center;
  bottom: 7px;
  width: 100%;
  background: rgba(0, 0, 0, 0.5);
  padding: 10px 0;
}

.product_list_item_title h3 {
  color: #fff;
  text-transform: uppercase;
  font-weight: normal;
}

.dt-tc {
  background-color: #f5f5f9;
  padding: 50px 0;
  text-align: center;
}

.dt-tc .wrap > h2 {
  color: #145188;
  text-transform: uppercase;
  font-size: 2,px;
  font-weight: bold;
}

.dt-tc_list {
  margin-top: 2%;
  width: 100%;
}

.dt-tc_list_item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 12.5%;
  float: left;
  margin-right: 2%;
  position: relative;
}

.dt-tc_list_item:nth-child(7n) {
  margin-right: 0;
}

.dt-tc_list_item img {
  height: 100%;
  width: 100%;
}

.news {
  background-color: #fff;
  padding: 50px 0;
}

.news .wrap > h2 {
  color: #145188;
  text-transform: uppercase;
  font-size: 20px;
  font-weight: bold;
  text-align: center;
}

.news_list {
  margin-top: 2%;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.news_left {
  width: 50%;
  margin-right: 2%;
  background-color: #ededed;
}

.news_left_img {
  width: 100%;
  height: 300px;
  overflow: hidden;
}

.news_left_img img {
  height: 100%;
  width: 100%;
}

.news_left_infor {
  padding: 0 20px;
  padding-bottom: 10px;
  max-width: 100%;
  max-height: 100%;
  overflow: hidden;
}

.news_left_infor > span {
  display: block;
  color: #333;
  margin-top: 5px;
  font-size: 14px;
}

.news_left_infor > span > i {
  margin-right: 5px;
}

.news_left_infor > a {
  margin-top: 2%;
  display: block;
}

.news_left_infor > a h3 {
  font-size: 16px;
  line-height: 1.2em;
  color: #333;
}

.news_left_infor > p {
  margin-top: 2%;
  font-size: 14px;
}

.news_right {
  width: 50%;
  border: 1px solid #e1e1e1;
}

.news_right_item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-bottom: 1px solid #e1e1e1;
  padding: 10px;
}

.news_right_item:last-child {
  border-bottom: 0;
}

.news_right_item_img {
  max-width: 30%;
  height: 120px;
  overflow: hidden;
  margin-right: 2%;
}

.news_right_item_img img {
  height: 100%;
  width: 100%;
}

.news_right_item_infor {
  max-width: 70%;
  overflow: hidden;
}

.news_right_item_infor > span {
  font-size: 14px;
  color: #333;
}

.news_right_item_infor > span > i {
  margin-right: 5px;
}

.news_right_item_infor > a {
  margin-top: 2%;
  display: block;
}

.news_right_item_infor > a h3 {
  font-size: 16px;
  line-height: 1.2em;
  color: #333;
}

.news_right_item_infor > p {
  margin-top: 2%;
  font-size: 14px;
}

.news_category .wrap > h2 {
  color: #145188;
  text-transform: uppercase;
  font-size: 20px;
  font-weight: bold;
}

.news_category_list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.news_category_list_left {
  width: 70%;
  margin-right: 2%;
}

.news_category_list_left_item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-bottom: 1px solid #ededed;
  padding-bottom: 5px;
  padding-top: 10px;
}

.news_category_list_left_item:last-child {
  border-bottom: 0;
  padding-bottom: 0;
}

.news_category_list_left_item_img {
  width: 50%;
  height: 100%;
  overflow: hidden;
  margin-right: 2%;
}

.news_category_list_left_item_img img {
  height: 100%;
  width: 100%;
}

.news_category_list_left_item_infor > span {
  color: #333;
  display: block;
}

.news_category_list_left_item_infor > span > i {
  margin-right: 5px;
}

.news_category_list_left_item_infor > p {
  margin: 5px 0;
}

.news_category_list_left_item_infor > a {
  display: block;
  font-style: italic;
}

.news_category_list_left_item_infor > a:hover {
  text-decoration: underline;
  color: #004b8d;
}

.news_category_list_left_network {
  width: 100%;
}

.news_category_list_left_network_share {
  text-align: right;
}

.news_category_list_left_network_evaluate {
  width: 100%;
  border-top: 1px solid #ededed;
  border-bottom: 1px solid #ededed;
  padding: 20px 0;
}

.news_category_list_left_network_evaluate_key {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.news_category_list_left_network_evaluate_key > a {
  display: block;
}

.news_category_list_left_network_evaluate_key > a:first-child {
  margin-right: 2%;
}

.news_category_list_left_network_evaluate_rate {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 2%;
}

.news_category_list_left_network_evaluate_rate > a {
  display: block;
  margin-right: 2%;
}

.news_category_list_left_network_evaluate_rate > ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.news_category_list_left_network_evaluate_rate > ul > li {
  margin-right: 5px;
}

.news_category_list_left_network_evaluate_rate > ul > li:last-child {
  margin-right: 0;
}

.news_category_list_left_network_comment_question > p {
  margin-bottom: 2%;
}

.news_category_list_left_network_comment_question > ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.news_category_list_left_network_comment_question > ul > li {
  margin-right: 10px;
}

.news_category_list_left_network_comment_question > ul > li:last-child {
  margin-right: 0;
}

.news_category_list_left_network_comment_question > ul > li > a {
  background-color: #e7e8e9;
  height: 50px;
  width: 100px;
  text-align: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.news_category_list_left_relate > h4 {
  color: #004b8d;
  text-transform: uppercase;
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 2%;
}

.news_category_list_left_relate_list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.news_category_list_left_relate_list_item {
  width: 32%;
  margin-right: 2%;
}

.news_category_list_left_relate_list_item:last-child {
  margin-right: 0;
}

.news_category_list_left_relate_list_item_img {
  height: 100%;
  width: 100%;
  overflow: hidden;
}

.news_category_list_left_relate_list_item_img img {
  height: 100%;
  width: 100%;
}

.news_category_list_left_relate_list_item a h3 {
  line-height: 1.2em;
  margin-top: 10px;
  font-weight: normal;
  font-size: 16px;
}

.news_category_list_left_danh_ba_ngan_hang > h1 {
  margin-bottom: 20px;
}

.news_category_list_left_danh_ba_ngan_hang_item {
  background-color: #f5f5f9;
  border: 1px solid #52525242;
  padding: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 20px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.news_category_list_left_danh_ba_ngan_hang_item:last-child {
  margin-bottom: 0;
}

.news_category_list_left_danh_ba_ngan_hang_item_img {
  height: 100%;
  max-width: 10%;
  overflow: hidden;
  margin-right: 2%;
  background-color: #f5f5f9;
}

.news_category_list_left_danh_ba_ngan_hang_item_img a img {
  height: 100%;
  width: 100%;
}

.news_category_list_left_danh_ba_ngan_hang_item_infor {
  background-color: #f9f9f9;
  max-width: 90%;
  padding: 0 5px;
}

.news_category_list_left_danh_ba_ngan_hang_item_infor a h3 {
  color: #004b8d;
  line-height: 2em;
}

.news_category_list_left_danh_ba_ngan_hang_item_infor > span {
  display: block;
  line-height: 2em;
  font-size: 14px;
}

.news_category_list_left_danh_ba_ngan_hang_item_infor > span i {
  color: #e31936;
  margin-right: 5px;
}

.news_category_list_left_danh_ba_ngan_hang_item_infor > span a > i {
  color: #e31936;
  margin-right: 5px;
}

.news_category_list_right {
  width: 30%;
}

.news_category_list_right_danh_ba_ngan_hang > p {
  color: #145188;
  text-transform: uppercase;
  font-size: 20px;
  font-weight: bold;
  padding-left: 10px;
  margin-bottom: 20px;
}

.news_category_list_right_danh_ba_ngan_hang > a {
  display: block;
  background-color: #fdf0b2;
  border: 1px solid #52525242;
  margin-bottom: 2%;
  padding: 10px;
}

.news_category_list_right_danh_ba_ngan_hang > a:last-child {
  margin-bottom: 0;
}

.news_category_list_right_danh_ba_ngan_hang > a h2 {
  font-size: 16px;
  font-weight: normal;
}

.news_category_list_right_list {
  border: 1px solid #ededed;
  padding: 16px 14px;
  background-color: #f9fafb;
}

.news_category_list_right_list > h2 {
  color: #145188;
  text-transform: uppercase;
  font-size: 20px;
  font-weight: bold;
  border-bottom: 1px solid #ededed;
  padding-bottom: 5px;
}

.news_category_list_right_item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-bottom: 1px solid #ededed;
  padding-bottom: 5px;
  padding-top: 10px;
}

.news_category_list_right_item_img {
  width: 50%;
  height: 100%;
  overflow: hidden;
  margin-right: 2%;
}

.news_category_list_right_item_img img {
  height: 100%;
  width: 100%;
}

.news_category_list_right_item > a {
  display: block;
}

.gth {
  position: relative;
  text-align: center;
  height: 290px;
}

.gth_img {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.gth_img > img {
  width: 100%;
}

.gth > .wrap > p {
  width: 1170px;
  position: absolute;
  top: 40%;
  color: #fff;
  font-size: 18px;
  float: left;
  line-height: 2em;
}

footer {
  background-color: #e1e1e1;
}

.footer {
  padding: 50px 0;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footer_left {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  overflow: hidden;
}

.footer_right {
  -webkit-box-flex: 2;
      -ms-flex: 2;
          flex: 2;
}

footer-bottom {
  background-color: #004b8d;
  text-align: center;
}

footer-bottom p {
  color: #fff;
  padding: 15px 0;
}

.breadcrumbs {
  height: 40px;
  line-height: 40px;
  background-color: #004b8d;
}

.breadcrumbs ul.breadcrumb {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.breadcrumbs ul.breadcrumb li a span {
  color: #fff;
}

.breadcrumbs ul.breadcrumb li span {
  color: #fff;
}

.tg-nt_chuyen_doi_item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.tg-nt_chuyen_doi_item_select {
  width: 100%;
}

.tg-nt_chuyen_doi_item_select select {
  height: 50px;
  width: 100%;
}

.tg-nt_chuyen_doi_item_select:first-child {
  margin-right: 30px;
}

.tg-nt_chuyen_doi_item_select:last-child {
  margin-left: 30px;
}

.tg-nt_chuyen_doi_item_select > p {
  display: block;
  margin-bottom: 2%;
  color: #004b8d;
  font-weight: bold;
}

.tg-nt_chuyen_doi_item_img {
  margin-top: 35px;
}

.tg-nt_tabel_colume {
  width: 100%;
}

.tg-nt_tabel_colume tr th {
  font-weight: normal;
  padding: 5px 0;
}

.tg-nt_tabel_colume tr th:first-child {
  padding-left: 10px;
  text-align: left;
}

.tg-nt_tabel_colume tr th:hover {
  background-color: #004b8d;
  color: #fff;
}

.tg-nt_tabel_colume tr td {
  padding: 5px 0;
  text-align: center;
}

.tg-nt_tabel_colume tr td span {
  display: block;
  font-style: italic;
  font-size: 14px;
  font-weight: normal;
}

.tg-nt_tabel_colume tr td:first-child {
  font-weight: bold;
  padding-left: 10px;
  text-align: left;
  background-color: #f3f3f3;
}
/*# sourceMappingURL=sudo-style.css.map */