.head_list{
    display: flex;
    position: relative;
    align-items: center;
   &_item{
        height: 50px;
        line-height: 50px;
       &_img{
            margin-top: 2px;
       }
       &:first-child{
           margin-right: 145px;
       }
        &:last-child{
          position: absolute;
          right: 0;
            >ul{
                display: flex;
                >li{ 
                    margin-right:50px ;
                    &:last-child{
                        margin-right: 0;
                    }
                    >ul.sub_menu{
                       visibility: hidden;
                       opacity: 0;
                       position: absolute;
                       width: 200px;
                       top: 50px;
                       box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.6);
                       background-color: #fff;
                       >li{
                           border-bottom: 1px solid #ededed; 
                           >a{
                               display: block;
                               margin-left: 10px;
                               height: 30px;
                               line-height: 30px;
                           }
                           &:last-child{
                               border-bottom: 0;
                           }
                       }
                    }
                    &:hover{
                        border-bottom: 2px solid #004b8d;
                        >ul.sub_menu{
                            visibility: visible;
                            opacity: 1;
                         }
                    }
                }
            }
        }
   }
}
.cc-ti{
    background-color: #286ba9;
    padding: 50px 0;
    text-align: center;
    .wrap{
        >h2{
           color: #fff;
           text-transform: uppercase; 
           font-size: 20px;
           font-weight: bold;
        }
    }
    &_list{
        margin-top: 2%;
        width: 100%;
        &_item{
            display: flex;
            background-color: #fff;
            width: 32%;
            float: left;
            border-radius: 10px;
            margin-right: 2%;
            margin-bottom: 2%;
            padding: 20px 10px;
            align-items: center;
            box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.6);
            &:nth-child(3n){
                margin-right: 0;
            }
            &_img{
                width: 80px;
                height: 80px;
                border-radius: 50%;
                overflow: hidden;
                border: 3px solid #e4213d;
                margin-right: 10px;
                img{
                    height: 100%;
                    width: 100%;
                }
            }
            &_title{
                h3{
                    text-transform: uppercase;
                    font-weight: normal;
                }
            }
        }
    }
}
.tud{
    background-color: #fff;
    padding-top: 50px;
    text-align: center;
    .wrap{
        >h2{
           color: #145188;
           text-transform: uppercase; 
           font-size: 20px;
           font-weight: bold;
        }
    }
    &_list{
        margin-top: 2%;
        width: 100%;
        &_item{
            display: flex;
            flex-direction: column;
            background-color: #fff;
            width: 32%;
            float: left;
            margin-right: 2%;
            &:nth-child(3n){
                margin-right: 0;
            }
            &_img{
                width: 100%;
                max-height: 100%;
                overflow: hidden;
                img{
                    height: 100%;
                    width: 100%;
                }
            }
            &_title{
                margin-top: 10px;
                h3{
                    font-weight: normal;

                }
            }
        }
    }
}
.product{
    background-color: #fff;
    padding: 50px 0;
    text-align: center;
    .wrap{
        >h2{
           color: #145188;
           text-transform: uppercase; 
           font-size: 20px;
           font-weight: bold;
        }
    } 
   &_list{
    margin-top: 2%;
    width: 100%;
    &_item{
        display: flex;
        flex-direction: column;
        background-color: #fff;
        width: 32%;
        float: left;
        margin-right: 2%;
        position: relative;
        &:nth-child(3n){
            margin-right: 0;
        }
        &_img{
            width: 100%;
            max-height: 100%;
            overflow: hidden;
            img{
                height: 100%;
                width: 100%;
            }
        }
        &_title{
            position: absolute;
            text-align: center;
            bottom: 7px;
            width: 100%;
            background: rgba(0, 0, 0, 0.5);
            padding: 10px 0;
            h3{
                color: #fff;
                text-transform: uppercase;
                font-weight: normal;
            }
        }
    }
   }
}
.dt-tc{
    background-color: #f5f5f9;
    padding: 50px 0;
    text-align: center;
    .wrap{
        >h2{
           color: #145188;
           text-transform: uppercase; 
           font-size: 2,px;
           font-weight: bold;
        }
    } 
    &_list{
        margin-top: 2%;
        width: 100%;
        &_item{
            display: flex;
            flex-direction: column;
            width: 12.5%;
            float: left;
            margin-right: 2%;
            position: relative;
            &:nth-child(7n){
                margin-right: 0;
            }
          
            img{
                height: 100%;
                width: 100%;
            }
            
        }
    }
}
.news{
    background-color: #fff;
    padding: 50px 0;
   
    .wrap{
        >h2{
           color: #145188;
           text-transform: uppercase; 
           font-size: 20px;
           font-weight: bold;
           text-align: center;
        }
    } 
    &_list{
        margin-top: 2%;
        width: 100%; 
        display: flex;
    }
    &_left{
        width: 50%;
        margin-right: 2%;
        background-color: #ededed;
        &_img{
            width: 100%;
            height: 300px;
            overflow: hidden;
            img{
                height: 100%;
                width: 100%;
            }
        }
        &_infor{
                padding: 0 20px;
                padding-bottom: 10px;
                max-width: 100%;
                max-height: 100%;
                overflow: hidden;
                >span{
                    display: block;
                    color: #333;
                    margin-top: 5px;
                    font-size: 14px;
                    >i{
                        margin-right: 5px;
                    }
                }
              >a{
                    margin-top: 2%;
                  display: block;
                  h3{
                    font-size: 16px;
                    line-height: 1.2em;
                    color: #333;
                  }
              }
              >p{
                margin-top: 2%;
                font-size: 14px;
              }
        }
    }
    &_right{
        
        width: 50%;
     
        border: 1px solid #e1e1e1;
        &_item{
            display: flex;
            align-items: center;
            border-bottom: 1px solid #e1e1e1;
            padding: 10px;
            &:last-child{
                border-bottom: 0;
            }
            &_img{
                max-width: 30%;
                height: 120px;
                overflow: hidden;
                margin-right: 2%;
                img{
                    height: 100%;
                    width: 100%;
                }
            }
            &_infor{
                max-width: 70%;
               
                overflow: hidden;
                >span{
                    font-size: 14px;
                    color: #333;
                    >i{
                        margin-right: 5px;
                    }
                }
              >a{
                    margin-top: 2%;
                  display: block;
                  h3{
                    font-size: 16px;
                    line-height: 1.2em;
                    color: #333;
                  }
              }
              >p{
                margin-top: 2%;
                font-size: 14px;
              }
            }
        }
    }
    &_category{
        .wrap{
            >h2{
               color: #145188;
               text-transform: uppercase; 
               font-size: 20px;
               font-weight: bold;
            }
        }
        &_list{
            display: flex;
          
            &_left{
                width: 70%;
                margin-right: 2%;
                &_item{
                    display: flex;
                    border-bottom: 1px solid #ededed;
                    padding-bottom: 5px;
                    padding-top: 10px;
                    &:last-child{
                        border-bottom: 0;
                        padding-bottom: 0;
                    }
                    &_img{
                        width: 50%;
                        height: 100%;
                        overflow: hidden;
                        margin-right: 2%;
                        img{
                            height: 100%;
                            width: 100%;
                        }

                    }
                    &_infor{
                        h3>a{

                        }
                        >span{
                            color: #333;
                            display: block;
                            >i{
                                margin-right: 5px;
                            }
                        }
                        >p{
                            margin: 5px 0;
                        }
                        >a{
                            display: block;
                            font-style: italic;
                            &:hover{
                               text-decoration: underline;
                               color: #004b8d;
                            }
                        }
                    }
                }
                &_network{
                    width: 100%;
                    &_share{
                        text-align: right;
                    }
                    &_evaluate{
                        width: 100%;
                        border-top: 1px solid #ededed;
                        border-bottom: 1px solid #ededed;
                        padding: 20px 0;
                        &_key{
                            display: flex;
                           
                            >a{
                                display: block;
                                &:first-child{
                                    margin-right: 2%;
                                }
                            }
                        }
                        &_rate{
                            display: flex;
                            margin-top: 2%;
                            >a{
                                display: block;
                                margin-right: 2%;
                            }
                            >ul{
                                display: flex;
                                align-items: center;
                                >li{
                                    margin-right: 5px;
                                    &:last-child{
                                        margin-right: 0;
                                    }
                                }
                            }
                        }
                    }
                    &_comment{
                        &_question{
                            >p{
                                margin-bottom: 2%;
                            }
                            >ul{
                                display: flex;
                                >li{
                                    margin-right: 10px;
                                    &:last-child{
                                        margin-right: 0;
                                    }
                                    >a{
                                        background-color: #e7e8e9;
                                        height: 50px;
                                        width: 100px;
                                        text-align: center;
                                        justify-content: center;
                                        align-items: center;
                                        display: flex
                                    }
                                }
                            }
                        }
                    }
                }
                &_relate{
                    >h4{
                        color: #004b8d;
                        text-transform: uppercase;
                        font-size: 20px;
                        font-weight: bold;
                        margin-bottom: 2%;
                    }
                    &_list{
                        display: flex;
                        &_item{
                            width: 32%;
                            margin-right: 2%;
                            &:last-child{
                                margin-right: 0;
                            }
                            &_img{
                                height: 100%;
                                width: 100%;
                                overflow: hidden;
                                img{
                                    height: 100%;
                                    width: 100%;
                                }
                            }
                            a{
                                h3{
                                    line-height: 1.2em;
                                    margin-top: 10px;
                                    font-weight: normal;
                                    font-size: 16px;
                                }
                            }
                        }
                    }
                }
               
                &_danh_ba_ngan_hang{
                    >h1{
                        margin-bottom: 20px;
                    }
                    &_item{
                        background-color: #f5f5f9;
                        border: 1px solid #52525242;
                        padding: 5px ;
                        display: flex;
                        margin-bottom: 20px;
                        align-items: center;
                        &:last-child{
                            margin-bottom: 0;
                        }
                        &_img{
                            height: 100%;
                            max-width: 10%;
                            overflow: hidden;
                            margin-right: 2%;
                            background-color: #f5f5f9;
                           a{
                               img{
                                   height: 100%;
                                   width: 100%;
                               }
                           }
                        }
                        &_infor{
                            background-color: #f9f9f9;
                            max-width: 90%;
                            padding: 0 5px;
                            a{
                                h3{
                                    color: #004b8d;
                                    line-height: 2em;
                                }
                            }
                            >span{
                                display: block;
                                line-height: 2em;
                                font-size: 14px;
                               i{
                                color: #e31936;
                                margin-right: 5px;
                               }
                               a{
                                    >i{
                                        color: #e31936;
                                        margin-right: 5px;
                                    }
                               }
                            }
                        }
                    }
                }

            }
            &_right{
                width: 30%;
                &_danh_ba_ngan_hang{
                    >p{
                        color: #145188;
                        text-transform: uppercase;
                        font-size: 20px;
                        font-weight: bold;
                        padding-left: 10px;
                        margin-bottom: 20px;
                    }
                    >a{
                        display: block;
                        background-color: #fdf0b2;
                        border: 1px solid #52525242;
                        margin-bottom: 2%;
                        padding: 10px;
                        &:last-child{
                            margin-bottom: 0;
                        }
                        h2{
                            font-size: 16px;
                            font-weight: normal;
                        }
                    }
                }
               &_list{
                    border: 1px solid #ededed;
                    padding: 16px 14px;
                    background-color: #f9fafb;
                    >h2{
                        color: #145188;
                        text-transform: uppercase; 
                        font-size: 20px;
                        font-weight: bold;
                        border-bottom: 1px solid #ededed;
                        padding-bottom: 5px;
                    }
               }
                 &_item{
                     display: flex;
                     border-bottom: 1px solid #ededed;
                     padding-bottom: 5px;
                     padding-top: 10px;
                     &_img{
                         width: 50%;
                         height: 100%;
                        overflow: hidden;
                        margin-right: 2%;
                        img{
                            height: 100%;
                            width: 100%;
                        }
                     }
                     >a{
                         display: block;
                     }
                 }

            }
        }
    }
}
.gth{
    position: relative;
    text-align: center;
    height: 290px;
    &_img{
        width: 100%;
        height: 100%;
        overflow: hidden;
        >img{
            width: 100%;
         
              
        }
    }
    >.wrap{
      
        >p{
            width: 1170px;
            position: absolute;
            top: 40%;
            color: #fff;
            font-size: 18px;
            float: left;
            line-height: 2em;
        }
    }
}
footer{
    background-color: #e1e1e1;
}
.footer{
    padding: 50px 0;
    width: 100%;
    display: flex;
   &_left{
      flex: 1;
        overflow: hidden;
   }
   &_right{
        flex: 2;
   }
}
footer-bottom{
    background-color: #004b8d;
    text-align: center;
    p{
        color: #fff;
        padding: 15px 0;
    }
}

.breadcrumbs{
    height: 40px;
    line-height: 40px;
    background-color: #004b8d;
    ul.breadcrumb{
        display: flex;
        li{
            a{
                span{
                    color: #fff;
                }
            }
            span{
                color: #fff;
            }
        }
    }
}

.tg-nt{
    &_chuyen_doi{
        &_item{
            display: flex;
            justify-content: center;
            &_select{
                width: 100%;
                select{
                    height: 50px;
                    width: 100%
               }
               &:first-child{
                   margin-right: 30px;
               }
               &:last-child{
                   margin-left: 30px;
               }
               >p{
                   display: block;
                   margin-bottom: 2%;
                   color: #004b8d;
                   font-weight: bold;
               }
            }
            &_img{
                margin-top: 35px;
            }
        }
    }

    &_tabel{
        &_colume{
            width: 100%;
            tr{
                th{
                    font-weight: normal;
                    padding: 5px 0;
                    &:first-child{
                        padding-left: 10px;
                        text-align: left;
                    }
                    &:hover{
                        background-color:#004b8d ;
                        color: #fff;
                    }
                }
                td{
                    padding: 5px 0;
                    span{
                        display: block;
                        font-style: italic;
                        font-size: 14px;
                        font-weight: normal;
                    }
                    text-align: center;
                    &:first-child{
                        font-weight: bold;
                        padding-left: 10px;
                        text-align: left;
                        background-color: #f3f3f3;
                    }
                }
            }
        }
    }
}