#detail-comment {
  width: 100%;
  background: #fff;
  font-family: lato;
}

#detail-comment input{
  font-family: lato;
}

#detail-comment-tab {
  height: 48px;
}
.detail-comment-title {
  font-size: 20px;
  position: relative;
  display: inline-block;
  padding-top: 10px;
  font-weight: 600;
  text-transform: uppercase;
}
.detail-comment-title:after{
  position: absolute;
  content: '';
  top: 48px;
  left: 0;
  height: 3px;
  width: 75px;
  background-color: #ffd400;
}
.detail-comment-title strong{
  color: #f1eb59;
  padding-right: 10px;
  font-size: 25px;
  font-weight: bold;
  position: relative;
  bottom: 10px;
  font-family: sans-serif;
}
.detail-rating {
  float: right;
  height: 48px;
  margin-right: 10px;
}
.detail-rating > .title {
  display: inline-block;
  height: 48px;
  line-height: 48px;
  margin-right: 5px;
}
.rating-action {
  float: left;
  height: 48px;
  line-height: 48px;
}
.rating-action-btn i {
  color: #ff9727;
}

#sudo_comments {
  margin: 20px 0;
  width: calc(100% - 30px);
  padding: 0 15px;
}
.comment_form {
  width: 100%;
}
.comment_editor {
  width: calc(100%);
  min-height: 100px;
  padding: 10px;
  margin-bottom: -4px;
  border: 1px solid #cacaca;
  border-radius: 4px 4px 0 0;
  font-family: sans-serif;
  font-size: 1.2em;
  outline: none;
  resize: none;
  box-sizing: border-box;
}
.comment_form_footer {
  width: calc(100%);
  height: auto;
  padding: 5px;
  border: 1px solid #cacaca;
  border-top: none;
  overflow: hidden;
  box-sizing: border-box;
}
.comment_form_footer_left {
  float: left;
  height: 40px;
  line-height: 40px;
}
.comment_form_footer_right {
  float: right;
}

.comment_author_title {
  text-transform: capitalize;
  font-family: lato;
}

.comment_form_footer_right a{
  color: #fff;
}



.comment_author_info_item a{
  color: #fff;
}

.comment_btn {
  display: block;
  height: 30px;
  line-height: 30px;
  margin: 5px 0;
  padding: 0 25px;
  font-size: 14px;
  color: #fff;
  text-transform: uppercase;
  border-radius: 4px;
  background: #288ad6;
}

.comment_author_info {
  padding: 15px 10px;
  background: #fafafa;
  display: none;
}
.comment_author_title {
  font-size: 1.2em;
  font-weight: bold;
}
.comment_author_info_item {
  width: 100%;
  margin-top: 10px;
  overflow: hidden;
}
.comment_author_info_item label {
  margin-right: 10px;
}
.comment_author_info_item input[type=text] {
  width: calc(100% - 12px);
  height: 26px;
  line-height: 26px;
  padding: 0 5px;
  border: 1px solid #e1e1e1;
}
.comment_author_info_item .comment_btn {
  float: left;
}
#comment_list {
  padding: 15px 0;
  margin-top: 25px;
  border-top: 1px solid #cacaca;
}
.comment_item {
  width: 100%;
  margin-bottom: 25px;
  overflow: hidden;
}
.comment_item_author {
  width: 100%;
  height: 26px;
  overflow: hidden;
}
.comment_item_author_avatext {
  float: left;
  width: 26px;
  height: 26px;
  line-height: 26px;
  background: #ddd;
  margin-right: 7px;
  text-align: center;
  color: #666;
  text-transform: uppercase;
  font-size: 12px;
  font-weight: 600;
  text-shadow: 1px 1px 0 rgba(255,255,255,.2);
}
.comment_item_author_name {
  float: left;
  overflow: hidden;
  height: 26px;
  line-height: 26px;
  text-transform: capitalize;
  font-weight: bold;
  color: #333;
}
.comment_item_meta {
  font-size: 0.9em;
}
.comment_item_content {
  padding: 5px 0;
  color: #333;
}
.comment_item_meta .comment_item_reply {
  color: #4a90e2;
  cursor: pointer;
}
.comment_item_meta .comment_item_time {
  color: #999;
  font-size: 0.9em;
}
.comment_item_reply_wrap.has_child {
  background: #f8f8f8;
  border: 1px solid #dfdfdf;
  position: relative;
  margin-top: 10px;
}
.comment_item_reply_wrap {
  padding: 0 10px;
}
.comment_item_reply_wrap.has_child:after, .comment_item_reply_wrap.has_child:before {
  top: -20px;
  left: 18px;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
}
.comment_item_reply_wrap.has_child:before {
  border-color: rgba(238,238,238,0);
  border-bottom-color: #f8f8f8;
  border-width: 11px;
  margin-left: -11px;
  z-index: 1;
}
.comment_item_reply_wrap.has_child:after {
  border-color: rgba(255,255,255,0);
  border-bottom-color: #dfdfdf;
  border-width: 10px;
  margin-left: -10px;
}
.comment_item_reply_wrap .comment_item:last-child {
  border-bottom: none;
  margin-bottom: 0;
}
.comment_item_reply_wrap .comment_item {
  margin-top: 10px;
  padding-bottom: 8px;
  border-bottom: 1px solid #e1e1e1;
}
.comment_item_author_admin {
  background: #f1c40f;
  border-radius: 2px;
  padding: 0 5px;
  line-height: normal;
  border: 1px solid #f1c40f;
  font-size: 11px;
  color: #333;
  font-weight: normal;
  display: inline-block;
  margin: 5px 0 0 10px;
}
#comment_list .comment_form {
  margin-top: 10px;
  display: none;
}