* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body,
div,
span,
h1,
h2,
h3,
h4,
h5,
h6,
p,
a,
font,
img,
ol,
ul,
li,
button {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    vertical-align: baseline;
    background: transparent;
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
    /* line-height: 1.5; */
    color: #000;
}

a,
span {
    line-height: 1.5;
}

i {
    font-style: normal;
    font-weight: normal;
}

.products-top {
    margin-top: 30px;
    position: relative;
}
.products-top-vu-tam {
    margin-top: 20px;
    position: relative;
}
.products-bottom {
    margin-bottom: 30px;
    position: relative;
}
.products-bottom-vu-tam {
    margin-bottom: 20px;
    position: relative;
}
.clear {
    clear: both;
}

.clearfix {
    display: block;
}

.clearfix:after {
    display: block;
    content: " ";
    clear: both;
}

.text_white {
    color: #fff;
}

.float_left {
    float: left;
}

.float_right {
    float: right;
}

body {
    width: 100%;
    height: auto;
    font-family: 'Roboto', Helvetica, Arial, sans-senif;
    font-size: 16px;
    background: #fff;
}

table {
    border-spacing: 0;
    border-collapse: collapse;
}

ul {
    list-style-type: none;
}

a {
    /* color: black; */
    text-decoration: none;
}

input {
    outline: none;
}

select {
    outline: none;
}

textarea {
    outline: none;
}

.wrap {
    width: 1170px;
    margin: 0 auto;
}

.bold {
    font-weight: bold !important;
}

.default {
    width: 100%;
    float: left;
}

.css-content {
    font: 16px/22px 'Roboto', Helvetica, Arial, sans-senif;
    box-sizing: border-box;
}

.css-content h1,
.css-content h2,
.css-content h3,
.css-content h4,
.css-content h5 {
    margin: 0.3em 0 0em;
    line-height: 1.5em !important;
}

.css-content a {
    color: #001dff;
}

.css-content figure.sudo-media-item {
    padding-bottom: 10px;
}

.css-content h1 {
    font: 700 24px/28px 'Roboto', Helvetica, Arial, sans-senif;
}

.css-content h2 {
    font: 700 20px/24px 'Roboto', Helvetica, Arial, sans-senif;
}

.css-content h3 {
    font: 700 18px/21px 'Roboto', Helvetica, Arial, sans-senif;
}

.align-center {
    width: 100% !important;
    text-align: center;
}

.css-content em {
    font-style: italic;
}

.css-content em strong {
    font-style: oblique;
}

.css-content p {
    line-height: 2em;
    padding-top: 10px;
    color: #333;
}

.css-content table {
    max-width: 100%;
    margin: 0 auto 10px;
    border-collapse: collapse;
    border-spacing: 0;
}

.css-content table th,
.css-content table td {
    border: 1px solid #ccc;
}

.css-content ul,
.css-content ul li {
    list-style-type: disc;
    margin-left: 10px;
    margin-bottom: 0.5em;
    margin-top: 0.5em;
}

.css-content ul li {
    list-style-type: disc;
    margin-left: 30px;
    margin-bottom: 0.5em;
    line-height: 1.4em;
    color: #333;
}

.css-content ol {
    list-style: decimal;
    padding: 0 0 0 15px;
    margin: 0;
}

.css-content ol li {
    list-style-type: disc;
    margin-left: 30px;
    margin-bottom: 0.5em;
    line-height: 1.4em;
}

.css-content img {
    max-width: 100%;
    height: auto;
}

.css-content blockquote {
    margin-left: 20px;
    font-style: italic;
}


/* Scollbar */

::-webkit-scrollbar {
    width: 7px;
}

::-webkit-scrollbar-track {
    background: #ccc;
}

::-webkit-scrollbar-thumb {
    background: #006ab1;
}

::-webkit-scrollbar-thumb:hover {
    background: #006ab1;
}

#top-web {
    height: 40px;
    background: #006ab1;
}

#top-web .left,
#top-web .right {
    width: 50%;
    float: left;
}

#top-web .right {
    text-align: right;
}

#top-web li {
    display: inline;
    line-height: 40px;
    color: #fff;
}

#top-web a {
    color: #fff;
}

#top-web .left li:first-child {
    margin-right: 30px;
}

#top-web .left i {
    padding-right: 2px;
}

#top-web .right li:nth-child(2) {
    padding: 0 10px;
    margin: 0 10px;
    border-left: 1px solid #fff;
    border-right: 1px solid #fff;
}

#top-web .right li i {
    font-size: 16px;
    padding-left: 2px;
}

#header {
    z-index: 10;
}

.form-control {
    width: 100%;
    height: 40px;
    padding-left: 12px;
}


/*    display: block;*/


/*    content: ' ';*/


/*    width: 100%;*/


/*    height: 100%;*/


/*    position: absolute;*/


/*    z-index: 1;*/


/*    background: rgba(0,0,0,0.7);*/


/*}*/

.top-header,
.bottom-header {
    position: relative;
    z-index: 10;
}

Ê #header li {
    display: inline-block;
}

.top-header {
    padding: 15px 0;
}

.top-header li {
    margin-right: 30px;
}

.top-header li.active a {
    color: #fc4242 !important;
    text-decoration: underline;
}

.top-header li:hover a {
    color: #fc4242 !important;
    text-decoration: underline;
}

.navigation {
    width: calc(100% - 250px);
    float: left;
    text-align: right;
}

.navigation li {
    line-height: 45px;
    padding: 0 15px;
    transition: all .1s ease-in-out;
}

.navigation li a {
    text-transform: uppercase;
    font-size: 15px;
    display: inline-block;
}

.navigation li:hover {
    background: #006ab1;
}

#header .logo {
    /* width: 200px; */
    width: auto;
    float: left;
    /* overflow: hidden; */
    height: auto;
}

#header .logo img {
    max-width: 200px;
    float: left;
}

.search-header {
    width: 50px;
    float: right;
    position: relative;
}

.search-header i {
    color: #ffffff;
    font-size: 16px;
    float: right;
    cursor: pointer;
    line-height: 45px;
}

.search-header .box-search {
    position: absolute;
    right: 0;
    top: 30px;
    z-index: 999;
    display: none;
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -ms-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
    overflow: hidden;
}

.search-header .box-search input {
    height: 50px;
    width: 0px;
    padding-left: 10px;
    box-sizing: border-box;
    font-size: 16px;
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -ms-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
    border: 2px solid #4b51a7;
    color: #333;
}

.search-header .box-search i {
    line-height: 0;
    position: relative;
    bottom: 26px;
    right: 15px;
    color: #4b51a7;
    font-size: 20px;
}

#slides {
    position: relative;
}

#slides img {
    width: 100%;
    float: left;
}

#footer {
    background: #cccccc;
    padding: 40px 0;
}

#footer .logo-footer {
    text-align: center;
    padding-bottom: 20px;
}

#footer .contact-us,
#footer .about-us {
    width: 30%;
    float: left;
}

#footer .quick-link {
    width: 20%;
    float: left;
}

#footer .item {
    width: 32.3%;
    float: left;
    height: 75px;
    overflow: hidden;
}

#footer .item img {
    width: 100%;
    float: left;
}

#footer .item:nth-child(3n+2) {
    margin: 0 5px 5px;
}

#footer .item:nth-child(3n+1) {
    clear: both;
}

#footer .about-us li {
    display: inline-block;
}

#footer .payments li {
    display: inline-block;
}

.title-footer {
    font-weight: bold;
    font-size: 16px;
    text-transform: uppercase;
    position: relative;
    padding-bottom: 30px;
}

.title-footer:before {
    content: "";
    position: absolute;
    border-bottom: 1px solid #fff;
    height: 25px;
    width: 70px;
    top: 1px;
    left: 0;
}

#footer .contact-us {
    padding-right: 80px;
    box-sizing: border-box;
}

#footer .contact-us li {
    color: #e8e8e8;
    padding-bottom: 10px;
    line-height: 20px;
    padding-right: 20px;
    box-sizing: border-box;
}

#footer .contact-us p.info {
    color: #e8e8e8;
    line-height: 22px;
    padding-bottom: 20px;
}

#footer .quick-link li {
    line-height: 18px;
    padding-bottom: 10px;
}

#footer .quick-link li a {
    color: #e8e8e8;
}

#footer .about-us ul {
    clear: both;
    padding-top: 10px;
    padding-left: 58px;
}

#footer .about-us ul li {
    margin: 0 5px;
}

#footer .about-us a {
    width: 35px;
    height: 35px;
    border: 1px solid #fff;
    border-radius: 50%;
    float: left;
    text-align: center;
    line-height: 35px;
}

#footer-bottom {
    background: #27aae1;
    height: 50px;
}

#footer-bottom .left {
    width: 50%;
    float: left;
}

#footer-bottom .right {
    width: 50%;
    float: left;
}

#footer-bottom p {
    line-height: 50px;
    color: #e8e8e8;
}

#footer-bottom p span {
    color: #fff;
}

#footer-bottom .right a {
    float: right;
    color: #e8e8e8;
    padding-left: 30px;
    line-height: 50px;
}

#sub-email {
    padding: 20px 0;
    background-image: url(../images/background1.png);
    background-repeat: no-repeat;
    background-size: 100% 150%;
    background-position-y: -20px;
    -webkit-box-shadow: 0px -8px 15px 0px rgba(134, 158, 227, 1);
    -moz-box-shadow: 0px -8px 15px 0px rgba(134, 158, 227, 1);
    box-shadow: 0px -8px 15px 0px rgba(134, 158, 227, 1);
}

#sub-email .title {
    font-size: 20px;
    color: #006ab1;
    text-transform: uppercase;
    font-weight: bold;
    padding: 10px 0;
}

#sub-email span {
    color: #ff0000;
}

#sub-email input {
    border: none;
    height: 40px;
    float: left;
    padding-left: 10px;
    font-size: 16px;
    color: #333;
}

#sub-email .wrap {
    width: 700px;
}

#sub-email input.email {
    width: 280px;
}

#sub-email input.name {
    width: 240px;
    margin-right: 20px;
}

#sub-email a {
    background: #ff0000;
    float: left;
    color: #fff;
    text-transform: uppercase;
    height: 40px;
    width: 100px;
    text-align: center;
    line-height: 40px;
    font-weight: bold;
    font-size: 12px;
}

#sub-email p:last-child {
    clear: both;
    color: #fff;
    padding: 10px 0;
}

#section1 {
    background: #f7f7f7;
    padding: 30px 0 20px;
}

#section1 p {
    color: #575757;
    text-align: center;
    padding: 2px 0;
}

#section1 a {
    color: #575757;
}

#section1 p:last-child {
    padding-top: 20px;
}

#section2 {
    margin: 20px 0;
}

#section2 .title {
    color: #fc4242;
    text-align: center;
    font-size: 18px;
    padding-bottom: 30px;
}

#section2 .item {
    width: 25%;
    float: left;
    padding: 20px 10px;
    box-sizing: border-box;
}

#section2 .item .icon {
    text-align: center;
}

#section2 .title-item {
    text-align: center;
    color: #434343;
    font-weight: bold;
    font-size: 16px;
    padding: 10px 0;
}

#section2 p {
    text-align: center;
    color: #333;
    line-height: 20px;
}

#section2 .item:hover {
    background: #ededed;
    transition: all .1s ease-in-out;
    cursor: pointer;
}

#top-rated {
    margin: 30px 0;
}

.item-travel {
    width: 370px;
    float: left;
}

.item-travel:nth-child(3n+2) {
    margin: 0 30px;
}

.item-travel li {
    display: inline-block;
}


#post-project{
    margin: 30px 0;
}
.content-post{
    width: 820px;
    float: left;
}
#post-project .sidebar{
    width: 300px;
    float: right;
}
.content-post h1{
    color: #e6182d;
    text-transform: uppercase;
    font-size: 18px;
    text-align: center;
}
.content-post .p1{
    text-align: center;
    color: #333;
    padding-top: 5px;
}
.content-post .content{
    border: 1px solid #ddd;
    padding: 20px;
    box-sizing: border-box;
    margin-top: 20px;
}
.content-post h3{
    font-size: 14px;
    color: #e6182d;
    text-transform: uppercase;
}
.content-post .form-group{
    width: 100%;
    float: left;
    padding: 10px 0;
    color: #333;
}
.content-post label{
    width: 150px;
    float: left;
    color: #333;
    padding-top: 5px;
}
.content-post .form-inline{
    width: calc(100% - 180px);
    float: right;
    position: relative;
}
.content-post .info-basic{
    padding-bottom: 20px;
    border-bottom: 1px solid #ddd;
    width: 100%;
    float: left;
    margin-bottom: 20px;
}
.content-post input{
    height: 30px;
    padding-left: 10px;
    box-sizing: border-box;
    width: 170px;
    float: left;
    color: #333;
    font-size: 16px;
    border: 1px solid #c3c3c3;
}
.content-post input[type="file"]{
    position: absolute;dotted
z-index: 9;
    top: 0px;
    left: -10px;
    height: 80px;
    border: none;
    padding-top: 28px;
    cursor: pointer;
    width: 500px;
    display: none;
}
.content-post input::placeholder{
    font-size: 14px;
}
.content-post select{
    height: 30px;
    padding-left: 10px;
    box-sizing: border-box;
    float: left;
    width: 230px;
    color: #333;
    border: 1px solid #c3c3c3;
    font-family: 'Roboto', Helvetica, Arial,sans-senif;
}
.content-post input[type="radio"]{
    height: 20px;
    width: 20px;
    float: none;
    margin-right: 10px;
    position: relative;
    top: 5px;
    cursor: pointer;
}
.content-post .label2{
    width: 100px;
    margin-left: 120px;
}
.content-post .input2{
    width: 130px;
}
.content-post textarea{
    width: 520px;
    height: 80px;
    padding: 10px;
    box-sizing: border-box;
    font-size: 16px;
    border: 1px solid #c3c3c3;
    font-family: 'Roboto', Helvetica, Arial,sans-senif;
}
.content-post textarea::placeholder{
    font-size: 14px;
}
.content-post input.title{
    width: 520px;
}
.content-post textarea.detail{
    height: 200px;
}
.content-post .upload-image{
    width: 80px;
    height: 80px;
    border: 2px dashed rgba(255, 1, 40, 0.2);
    background: #e6e6e6;
    cursor: pointer;
    position: relative;
    z-index: 10;
}
.content-post .upload-image .p1{
    color: #e6182d;
    font-size: 48px;
}
.content-post .upload-image .p2{
    font-size: 12px;
    text-align: center;
}
.content-post .info-detail{
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    width: 100%;
    float: left;
    padding: 20px 0;
    margin: 20px 0;
}
.content-post .info-contact{
    border-bottom: 1px solid #ddd;
    width: 100%;
    float: left;
    margin-bottom: 20px ;

}
.content-post .type-time input[type="radio"]{
    margin: 2px 0;
}
.content-post .type-time .span{
    float: left;
    padding: 8px 15px 0 0;
}
.content-post .action{
    text-align: center;
    clear: both;
    padding: 30px 0 10px;
}
.content-post .action a{
    margin-right: 20px;
    color: #fff;
   
    padding: 10px 30px;
    font-size: 16px;

    
}
.content-post .action a#xem-truoc{
    background-color: #aba8a9;
}
.content-post .action a#dang-tin{
    background-color: #e6182d;
}
.content-post .action a#huy-bo {
    background-color: #00b5ff;
}
.content-post .action a:last-child{
    margin-right: 0;
}
.sidebar{
    margin-top: 24px;
}
.sidebar .title{
    height: 45px;
    line-height: 45px;
    background: #eae7e7;
    color: #e6182d;
    padding-left: 10px;
    box-sizing: border-box;
    font-size: 16px;
    font-weight: bold;
}
.sidebar .content{
    border: 1px solid #ddd;
    padding: 10px;
}
.sidebar li{
    padding-bottom: 10px;
    color: #333;
    line-height: 20px;
    position: relative;
    padding-left: 15px;
}
.sidebar li span{
    color: #055699;
}
.sidebar li::before {
    content: "•";
    position: absolute;
    font-size: 20px;
    color: #e6182d;
    top: 0px;
    left: 0px;
}
.result_image {
    width: 100%;
    overflow: hidden;
    padding: 20px 0 10px;
}
.result_image_item {
    width: 80px;
    height: 80px;
    overflow: hidden;
    float: left;
    margin-right: 10px;
    border: 1px solid #ccc;
    position: relative;
    cursor: move;
}
.result_image_item img {
    width: 80px;
    text-align: center;
}
.result_image .del_img {
    display: block;
    width: 20px;
    height: 20px;
    line-height: 20px;
    background: #fff;
    border-radius: 10px;
    text-align: center;
    position: absolute;
    top: 0px;
    right: 0px;
    color: red;
}
.color_red{
    color: #ff0128;
}



#users{
    margin: 50px 0 30px;
}
#users .active-account{
    width: 60%;
    padding: 100px 0%;
    box-shadow: 0px 0px 10px 4px #ddd;
    margin: 100px auto;
    background: #fff;
}
#users .active-account p{
    text-align: center;
    padding-bottom: 10px;
    font-size: 18px;
    color: #323031;
}
#users .active-account p a{
    color: #3c80b5;
    font-size: 24px;
}
#users .active-account img{
    width: 300px;
}


#users .infomation{
    width: calc(100% - 270px);
    float: right;
}
#users .infomation .title{
    background: #e6182d;
    height: 30px;
    color: #fff;
    line-height: 30px;
    text-transform: uppercase;
    padding-left: 10px;
    box-sizing: border-box;
    font-weight: bold;
}
#users .infomation label{
    width: 150px;
    float: left;
    color: #555;
    padding-top: 10px;
}
#users .infomation .form-inline{
    width: calc(100% - 150px);
    float: left;
}
#users .infomation input{
    width: 300px;
    float: left;
    height: 35px;
    padding-left: 10px;
    box-sizing: border-box;
    border: 1px solid #ddd;
    border-radius: 2px;
    color: #333;
    font-size: 16px;
}
#users .infomation .form-group{
    width: 100%;
    float: left;
    margin: 10px 0;
}
#users .infomation .content{
    padding: 20px;
    box-sizing: border-box;
    border: 1px solid #ddd;
    color: #555;
}
#users .sidebar{
    width: 250px;
    float: left;
    margin-top: 0;
}
#users .sidebar .title{
    width: 100%;
    float: left;
    height: 30px;
    color: #666;
    font-weight: bold;
    line-height: 30px;
    background: #e8e8e8;
    padding-left: 10px;
}
#users .sidebar .avatar .title{
    background: #e6182d;
    color: #fff;
    text-transform: uppercase;
    text-align: center;
}
#users .sidebar .avatar img{
    width: 110px;
    height: 110px;
    margin: 20px 70px;
}
#users .sidebar .avatar p{
    text-transform: uppercase;
    text-align: center;
    color: #e6182d;
    font-weight: bold;
}
#users .sidebar .avatar .content{
    border: 1px solid #ddd;
    border-bottom: none;
    padding-bottom: 30px;
}
#users .sidebar li{
    line-height: 20px;
    padding: 10px 0;
    border: 1px solid #ddd;
    border-top: none;
    padding-left: 25px;
    position: relative;
}
#users .sidebar li a{
    color: #333;
}
#users .sidebar li:before{
    content: "•";
    position: absolute;
    font-size: 25px;
    color: #e6182d;
    top: 10px;
    left: 10px;
}
#users .sidebar li.active a{
    color: #e6182d;
}
#users .infomation input[type="radio"]{
    height: 16px!important;
    width: 16px;
    margin-bottom: 10px;
    float: left;
    margin-right: 10px;
}
.btn-update-infomation{
    background: #055699;
    color: #fff;
    height: 40px;
    line-height: 40px;
    text-align: center;
    width: 200px;
    border-radius: 4px;
    float: left;
    font-size: 16px;
}
#users span.red{
    font-weight: normal!important;
}